#ifndef config_h
#define config_h

// Sensor digital pin
#define DHT11_PIN 0
// little-endian (reverse byte order)
#define APPEUI {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}
// little-endian (reverse byte order)
#define DEVEUI {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}
// big-endian (normal byte order)
#define APPKEY {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}

#endif // config_h